.about-container {
    /* height: 100vh; */
    min-height: 100vh;
    background-color: #222831;
    padding-top: 48px !important;
    color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}

.about-wrapper {
    height: 100%;
    width: 100%;
    color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}
