.skills-wrapper {
    height: 100vh;
    padding-top: 48px;
}

.skills-text-container {
    text-align: center;
}

.skills-text-container h1 {
    padding-top: 1.25em;
}

.skills-main-body {
    height: 80%;
    align-items: center;
}

.skills-main-info {
    height: 100%;
}

.skills-main-info-header {
    height: 10%;
}

.skills-bars {
    height: 90%;
    padding-top: 36px;
}

.skills-bars ul{
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 12px;
    line-height: 18px;
}

.skills-bars li {
    width: 100%;
    background: #EEEEEE;
    height: 42px;
    margin-bottom: 60px;
}

.bar-expand {
    background: #0F044C;
    display: inline-block;
    height: 42px;
}

.bar-title {
    position: relative;
    top: -13px;
    left: 15px;
}